[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pylint-flask-sqlalchemy = "*"

[packages]
flask = "==1.1.1"
flask-sqlalchemy = "==2.4.1"

[requires]
python_version = "3.8"
